.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
}
